// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$brand: #3538cd; // #4050F5
$brand-05: #eef4ff;
$brand-1: #a4bcfd;
$brand-2: #8098f9;
$brand-3: #6172f3;
$brand-4: #444ce7;
$brand-5: #3538cd;
$brand-6: #2d31a6;
$primary: #172b4d; // #4050F5
$primary-05: #f2f4fc;
$primary-1: #98a2b3;
$primary-2: #667085;
$primary-3: #475467;
$primary-4: #344054;
$primary-5: #1d2939;
$primary-6: #101828;
$secondary: #12b76a;
$accent: #172b4d;
$dark: #172b4d;
$positive: #12b76a;
$positive-05: rgb(231, 250, 237);
$positive-1: #d1fadf;
$positive-2: #a6f4c5;
$positive-3: #6ce9a6;
$positive-4: #32d583;
$positive-5: #12b76a;
$positive-6: #039855;
$success: #12b76a;
$success-1: #d1fadf;
$success-2: #a6f4c5;
$success-3: #6ce9a6;
$success-4: #32d583;
$success-5: #12b76a;
$success-6: #039855;
$negative: #f04438;
$negative-1: #fee4e2;
$negative-2: #fecdca;
$negative-3: #fda29b;
$negative-4: #f97066;
$negative-5: #f04438;
$negative-6: #d92d20;
$error: #f04438;
$error-1: #fee4e2;
$error-2: #fecdca;
$error-3: #fda29b;
$error-4: #f97066;
$error-5: #f04438;
$error-6: #d92d20;
$info: #00b8d9;
$warning: #f79009;
$warning-1: #fef0c7;
$warning-2: #fedf89;
$warning-3: #fec84b;
$warning-4: #fdb022;
$warning-5: #f79009;
$warning-6: #dc6803;
$generic-border-radius: 8px !default;
$button-border-radius: 8px !default;
$black: #000000;
$white: #ffffff;
